@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700&display=swap');
/* Clearing Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
}

/* Root Style */
:root {
    /* Main Color(blue) */
    --primary-color : #1D3557;
    /* Secondary Color(powder-blue) */
    --secondary-color : #A8DADC;
    /* Third Celadon Blue */
    --third-color : #457B9D;
    /* Light Color */
    --light-color : #F1FAEE;
    /* Hover Color */
    --hover-color : #F1FAEE;
    --danger-color: #dc3545;
    /* Tambahkan root variabel jika dibutuhkan, biar stylenya konsisten... */
}

/*
Override Style
Timpa Class bootstrap atau buat Class baru jika dibutuhkan... */

/* Button Utama */
.btn-primary, .btn-sm-primary, .btn-lg-primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn-primary:hover, .btn-sm-primary:hover, .btn-lg-primary:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: 0.8s;
    
}

/* Button Alternatif */
.btn-secondary, .btn-sm-secondary, .btn-lg-secondary {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
.btn-secondary:hover, .btn-sm-secondary:hover, .btn-lg-secondary:hover {
    background-color: var(--hover-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: 0.8s;
}

/* Button Alternatif-2 */
.btn-third, .btn-sm-third, .btn-lg-third {
    background-color: var(--third-color);
    border: 2px solid var(--third-color);
}
.btn-third:hover, .btn-sm-third:hover, .btn-lg-third:hover {
    background-color: var(--hover-color);
    border: 2px solid var(--third-color);
    color: var(--third-color);
    transition: 0.8s;
}

/* Background-color */
/* .bg-danger(Warna latar Background Utama) {} */
.bg-primary {
    background-color: var(--primary-color) !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
.bg-third {
    background-color: var(--third-color) !important;
}
.bg-light {
    background-color: var(--light-color) !important;
}
.bg-transparant-dark {
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-footer {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-positon: center;
}
/* Untuk warna dark gunakan bawaan bootstrap = .dark */

/* Text-color */
.text-primary {
    color: var(--primary-color) !important;
}
.text-secondary {
    color: var(--secondary-color) !important;
}
.text-third {
    color: var(--third-color) !important;
}
.text-light {
    color: var(--light-color) !important;
}
/* Untuk warna dark gunakan bawaan bootstrap = .dark */

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
  }
  
  .signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}
p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .transisi {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-top: -10px;
}
.transisi a {
    color: #49c1a2;
}
.lupa{
    text-align: right;
} 
.img{
  display: flex;
  justify-content: center;
  height: 150px;
}
.diatas{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 80px;
    font-size: 50px;
}