<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome-free-6.2.0-web/css/all.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <title>Register</title>
</head>
<body class="bg-danger">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-danger navbar-dark shadow-lg border-bottom border-light border-3 position-sticky top-0" style="z-index: 9;">
        <div class="container-fluid px-3 d-flex justify-content-between">
          <a class="navbar-brand ms-3" href="../../index.html">
            <img src="../../assets/img/image 18.png" class="rounded" width="100" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 d-flex justify-content-end">
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="../../index.html">Beranda</a>
              </li>
              <li class="nav-item dropdown mx-3">
                <a href="#" class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Layanan</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Lowongan</a></li>
                    <li><a class="dropdown-item" href="#">Beasiswa</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown mx-3">
                <a href="#" class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Berita</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Data</a></li>
                    <li><a class="dropdown-item" href="#">News</a></li>
                  </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <!-- Register Main Content -->
    <main class="register container">
        <div class="row vh-100 d-flex align-items-center">
            <div class="col-12 col-sm-11 col-md-10 mx-auto card shadow-lg rounded p-3">
                    <h2 class="text-center mt-3 fw-bold text-dark">Ayo buat Akunmu <br> <span class="text-warning"> Sekarang ! </span></h3>
                    <form action="#" id="form-register" class="p-3 d-flex justify-content-around flex-wrap">
                        <div class="form-group col-10 col-md-5 mb-3">
                            <label class="fw-semibold">Username</label>
                            <input type="text" class="form-control" minlength="5" maxlength="12" id="username" required placeholder="Masukan Username..." />
                        </div>
                        <div class="form-group col-10 col-md-5 mb-3">
                            <label class="fw-semibold">Email</label>
                            <input type="email" class="form-control" id="email" required placeholder="Masukan Alamat Email..." />
                        </div>
                        <div class="form-group col-10 col-md-5 mb-3">
                            <label class="fw-semibold">Nama Lengkap</label>
                            <input type="text" class="form-control" id="name" required minlength="3" maxlength="30" placeholder="Masukan Nama Lengkap..." />
                        </div>
                        <div class="form-group col-10 col-md-5 mb-3">
                            <label class="fw-semibold">Alamat</label>
                            <input type="text" class="form-control" id="address" minlength="10" maxlength="50" required placeholder="Masukan Alamat..." />
                        </div>
                        <div class="form-group col-10 col-md-5 mb-3">
                            <label class="fw-semibold">Password</label>
                            <input type="password" class="form-control" id="password" required minlength="5" maxlength="15" placeholder="Masukan Password..." />
                            <small class="text-gray"> Password harus terdiri dari 8-15 karakter angka, underscore</small>
                        </div>
                        <div class="form-group col-10 col-md-5 mb-3">
                            <label class="fw-semibold">Konfirmasi Password</label>
                            <input type="password" class="form-control" id="confirmation-password" required minlength="5" maxlength="15" required placeholder="Masukan Konfirmasi Password..." />
                            <small class="text-gray"> Password harus terdiri dari 8-15 karakter, angka, underscore</small>
                        </div>
                        <div class="form-group mb-3 text-center w-100">
                            <button class="btn btn-primary mb-3" type="submit" style="width: 200px;">Sign-up</button>
                            <p class="border-top border-dark pt-3">Sudah punya akun?<a class="text-danger" href="login.html"> login disini!</a></p>
                        </div>
                    </form>
            </div>
        </div>
    </main>

      <!-- Footer -->
      <footer class="bg-dark pt-4">
        <div class="container-fluid px-4">
          <div class="row d-flex mb-3 justify-content-between f-wrap">
            <aside class="corp col-12 col-sm-5">
              <img src="../../assets/img/image 18.png" class="rounded" width="100" alt="">
              <p class="text-light py-3">Jl. Pahlawan No.9, Mugassari, Kec. Semarang Sel.,
                Kota Semarang, Jawa Tengah 50249</p>
            </aside>
            <aside class="navigator text-light col-12 col-sm-3">
              <ul>
                <li>
                  <a href="#" class="text-decoration-none text-light">F.A.Q</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-light">About</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-light">Protocol Covid</a>
                </li>
              </ul>
            </aside>
          </div>
          <div class="row d-flex justify-content-start">
            <a href="#" class="soc-media col-1" style="width: 80px;">
              <span class="fa fa-brands fa-facebook text-light fs-3 bg-danger rounded-circle p-2"></span>
            </a>
            <a href="#" class="soc-media col-1" style="width: 80px;">
              <span class="fa fa-brands fa-whatsapp text-light fs-3 bg-danger rounded-circle p-2"></span>
            </a>
            <a href="#" class="soc-media col-1" style="width: 80px;">
              <span class="fa fa-brands fa-instagram text-light fs-3 bg-danger rounded-circle p-2"></span>
            </a>
          </div>
        </div>
        <div class="copyright w-100 mt-5 py-3 bg-transparant-dark d-flex align-items-center justify-content-center" style="height: 60px;">
          <h6 class="text-center text-light"><span class="fa fa-copyright"></span> Copyright | FE-20</h6>
        </div>
      </footer>
      <script src="../../assets/js/autentikasi/register.js" type="module"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>