<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome-free-6.2.0-web/css/all.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <title>Daftar</title>
</head>
<body>
    <div class="diatas">Bangkit</div>
    <div class="signup-box">
        <h1>Daftar</h1>
        <form>
        <label>Nama Depan</label>
        <input type="text" placeholder="" />
        <label>Nama Belakang</label>
        <input type="text" placeholder="" />
        <label>Email</label>
        <input type="email" placeholder="" />
        <label>Masukkan Password</label>
        <input type="password" placeholder="" />
        <label>Masukkan Password Sekali lagi</label>
        <input type="password" placeholder="" />
        <input type="button" value="Daftar" />
        </form>
        <p class="transisi">
            Sudah Punya akun? <a href="/view/autentikasi/login.html">Login</a>
            </p>
    </div>
    </body>
  </html>
  <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>