<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/fontawesome-free-6.2.0-web/css/all.css">
    <link rel="stylesheet" href="../../assets/css/custom.css">
    <title>Detail-Job-page</title>
</head>
<body class="bg-light">
    <!-- Homepage -->

    <!-- Navbar -->
            <nav class="navbar navbar-expand-lg bg-danger navbar-dark shadow-lg border-bottom border-light border-3 position-sticky top-0" style="z-index: 9;">
            <div class="container-fluid px-3 d-flex justify-content-between">
              <a class="navbar-brand ms-3" href="index.html">
                <img src="assets/img/image 18.png" class="rounded" width="100" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100 d-flex justify-content-end">
                  <li class="nav-item mx-3">
                    <a class="nav-link active" aria-current="page" href="index.html">Beranda</a>
                  </li>
                  <li class="nav-item mx-3">
                    <a class="nav-link active" href="lowongan-pekerjaan.html">Loker</a>
                  </li>
                  <li class="nav-item dropdown mx-3">
                    <a href="#" class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Berita</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="view/news/data.html">Data</a></li>
                        <li><a class="dropdown-item" href="view/news/article.html">News</a></li>
                      </ul>
                  </li>
                </ul>
                <a href="view/autentikasi/login.html" id="login-button" class="btn btn-outline-light text-light mx-3">Login</a>
                <button type="button" id="logout-button" class="btn btn-outline-light text-light mx-3">Logout</button>
              </div>
            </div>
        </nav>

    <!-- Main Content -->
    <main class="py-5">

        <div class="container bg-light py-3 my-3">
            <div class="row justify-content-start mb-3">
                <div class="col-3">
                    <img src="" id="img-job" class="w-100" alt="">
                </div>
                <div class="col-7">
                    <h1 class="text-dark " id="title-job-detail"></h1>
                  <p class="text-dark" id="gaji-job-detail"></p>
                        <ul id="list-category-job">
                          
                        </ul>
                </div>
            </div>
          
            <div class="row justify-content-start">
                <div class="col-2 m-1">
                    <a id="lamar" class="btn btn-primary w-100 rounded-pill"><span class="fa fa-pen"></span> Lamar </a>
                </div>
                <div class="col-2 m-1">
                    <a href="lowongan-pekerjaan.html" class="btn btn-danger w-100 rounded-pill"><span class="fa fa-undo"></span> Kembali</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <h5 class="py-3" id="location-job"></h5>
                <h5 class="py-3" id="kualifikasi-job"></h5>
                <h5 class="py-3" id="contact-job"></h5>
                <P id="description-job"></P>
            </div>
        </div>

    </main>

    <!-- Footer -->
    <footer class="bg-dark pt-4">
      <div class="container-fluid px-4">
        <div class="row d-flex mb-3 justify-content-between f-wrap">
          <aside class="corp col-12 col-sm-5">
            <img src="../../assets/img/image 18.png" class="rounded" width="100" alt="">
            <p class="text-light py-3">Jl. Pahlawan No.9, Mugassari, Kec. Semarang Sel.,
              Kota Semarang, Jawa Tengah 50249</p>
          </aside>
          <aside class="navigator text-light col-12 col-sm-3">
            <ul>
              <li>
                <p class="text-light fw-semibold">Information</p>
              </li>
              <li>
                <a class="footer-nav text-light" href="#" class="text-decoration-none text-light">F.A.Q</a>
              </li>
              <li>
                <a class="footer-nav text-light" href="#" class="text-decoration-none text-light">About</a>
              </li>
              <li>
                <a class="footer-nav text-light" href="#" class="text-decoration-none text-light">Protocol Covid</a>
              </li>
            </ul>
          </aside>
        </div>
        <div class="row d-flex justify-content-start">
          <a href="#" class="soc-media col-1" style="width: 80px;">
            <span class="fa fa-brands fa-facebook text-light fs-3 bg-danger rounded-circle p-2"></span>
          </a>
          <a href="#" class="soc-media col-1" style="width: 80px;">
            <span class="fa fa-brands fa-whatsapp text-light fs-3 bg-danger rounded-circle p-2"></span>
          </a>
          <a href="#" class="soc-media col-1" style="width: 80px;">
            <span class="fa fa-brands fa-instagram text-light fs-3 bg-danger rounded-circle p-2"></span>
          </a>
        </div>
      </div>
      <div class="copyright w-100 mt-5 py-3 bg-transparant-dark d-flex align-items-center justify-content-center" style="height: 60px;">
        <h6 class="text-center text-light"><span class="fa fa-copyright"></span> Copyright | FE-20</h6>
      </div>
    </footer>
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../assets/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="../assets/js/bantuan/detailLowongan.js" type="module"></script>
</body>
</html>